/*
How properties are ordered:
  Layout
  Text
  Appearance
  Other
*/

body {
  padding: 10px 0;
  margin: auto;
  width: 50%;
  background-color: #E3DEB3;
}

a, h1, h2, h3, li, p {
  color: #963F65;
}

a, h2, h3, li, p {
  font-family: "Roboto", sans-serif;
}

a, li, p {
  font-size: 20px;
}

h1, h2, h3 {
  cursor: default;
}

a {
  text-decoration: none;
}

a:hover {
  color: #E49DBC;
}

h1 {
  margin: 0px 0 10px 0;
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

img {
  display: block;
  height: auto;
  margin: auto;
  width: 500px;
  border: 2px solid #3C8A99;
}