@import url('https://fonts.googleapis.com/css2?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

*:focus {
  outline: 2px solid;
}

html {
  height: 100%;
  min-width: 280px;
}

body {
  margin: 0;
  font: 16px / 1.5 serif;
}

.skip-link {
  display: inline-block;
  padding: 0.3rem 1rem;
  position: absolute;
  top: -100px;
  left: -3px;
  z-index: 3;
  background-color: #eddaca;
  border-radius: 3px;
  box-shadow: 0 5px 15px #00000036;
  color: #42240b;
  outline-offset: 0;
  transition: top 300ms ease-in-out;
}

.skip-link:focus {  
  top: 7px;
  outline-color: #42240b;
}

.skip-link:hover {
  text-decoration: none;
  background-color: #d6abba;
  color: #42240b;
}

.skip-link:active {
  background-color: #ddbbc7;
  color: #42240b;
}

.header-logo {
  height: 3rem;
  padding: 0 0.7rem;
  position: sticky;
  top: -52px;
  left: 0;
  z-index: 2;
  background-color: #ffffff;
  box-shadow: 0 5px 10px #00000026;
  transition:
      top
      375ms
      cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.header-logo div {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  max-width: 800px;
}


.header-logo a {
  padding: 0 0.8rem;
  font-family: 'Playfair Display', serif;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  color: #9f591a;
}

.header-logo a:focus {
  outline-color: #9f591a;
  outline-offset: -2px;
} 

/* Interactive class for nav */
.show-nav {
  top: 48px;
}

main {
  color: #141414;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
}

p {
  font-style: italic;
  max-width: 60ch;
}

footer {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}

.github-link {
  display: inline-block;
  height: 32px;
  border-radius: 50%;
  transition: transform 150ms ease-out;
}

.github-link:focus {
  outline-offset: 4px;
}

.github-link:hover {
  transform: rotate(-38deg);
}

.github-link:active {
  opacity: 0.8;
}