body {
  background-color: #eddaca;
}

p {
  font-style: italic;
}

.header-logo div {
  background:
      url('../img/hat-and-spoon.png')
      100% -5px / 140px 120px
      no-repeat;
}

.header-logo a {
  background-color: #ffffffe6;
}

nav {
  position: sticky;
  top: -96px;
  z-index: 1;
  transition:
      top
      375ms
      cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

nav h2 {
  position: absolute;
  top: -10000px;
  left: -10000px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
  list-style: none;
  box-shadow: 0 5px 10px #00000026;
}

nav li {
  flex: 1;
}

nav a {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  white-space: nowrap;
  background-color: #9a4c67;
  border: 1px solid #44222e36;
  color: #ffffff;
}

nav a:focus {
  outline-color: #ffffff;
  outline-offset: -6px;
}

nav a:hover {
  background-color: #783b50;
}

nav a:active {
  background-color: #552a39;
}

nav li:first-child a {
  justify-content: flex-start;
}

nav li:last-child a {
  justify-content: flex-end;
}

nav a span {
  transform: scale(1.25);
}

/* Interactive class for header */
.show-header {
  top: 0;
}

main {
  margin: 0 auto;
  padding: 1rem 1.5rem 0;
  max-width: 800px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  transition:
      border-left-color 150ms linear,
      border-right-color 150ms linear;
}

main h1 {
  margin-top: 0;
  text-align: center;
}

.description {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.description h2 {
  margin: 0;
}

.description img {
  width: 100%;
  max-width: 350px;
  border-radius: 3px;
  outline: 4px solid #141414;
  object-fit: cover;
}

.description p {
  margin: 0;
}

.recipe-details {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  width: 100%;
  border-top: 1px solid #42240b63;
  border-bottom: 1px solid #42240b63;
}

.recipe-details table {
  width: 350px;
  border-collapse: collapse;
}

.recipe-details caption {
  margin-bottom: 1rem;
}

.recipe-details tbody {
  white-space: nowrap;
}

.recipe-details tr:not(:last-child) {
  border-bottom: 1px solid #42240b63;
}

.recipe-details th,
.recipe-details td {
  padding: 0.5rem;
}

.recipe-details th {
  font-family: 'Playfair Display', serif;
  text-align: left;
}

.ingredients-and-steps {
  display: flex;
  flex-wrap: wrap;
  gap: 0 2rem;
}

.ingredients-and-steps section {
  flex: 1 1 220px;
}

.ingredients-and-steps ul,
.ingredients-and-steps ol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}

.ingredients-and-steps ul {
  margin: 0;
  list-style: none;
}

.ingredients-and-steps ul input {
  position: relative;
  height: 18px;
  margin-right: 5px;
  width: 18px;
  vertical-align: text-top;
  background-color:  #141414;
  border-radius: 3px;
  -webkit-appearance: none;
  appearance: none;
}

.ingredients-and-steps ul input:checked::before {
  content: '✔';
  position: absolute;
  font-family: sans-serif;
  color: #e6ccd5;
  transform: translate(3px, 1px);
  -moz-transform: translate(2px, 0px);
}

.ingredients-and-steps ul input:focus {
  outline-color: #141414;
  outline-offset: 2px;
}

.ingredients-and-steps ul input:hover {
  background-color: #552a39;
}

.ingredients-and-steps ul input:active {
  background-color: #783b50;
}

.ingredients-and-steps ol {
  margin: 0 0 0 1rem;
}

.ingredients-and-steps ol li {
  padding-left: 5px;
}

.ingredients-and-steps ol li::marker {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

footer {
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
}

footer p,
.recipe-credit {
  color: #141414;
}

footer p {
  margin: 0;
}

footer a:focus {
  outline-color: #141414;
}

.recipe-credit:hover {
  text-decoration: none;
  background-color: #d6abba;
  color: #42240b;
}

.recipe-credit:active {
  background-color: #ddbbc7;
  color: #42240b;
}

@media only screen and (min-width: 800px) {
  main {
    border-left: 1px solid #42240b63;
    border-right: 1px solid #42240b63;
  }
}