@import url('https://fonts.googleapis.com/css2?family=Playfair+Display');

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

*:focus {
  outline: 2px solid;
}

html {
  min-width: 280px;
}

body {
  margin: 0;
  font: 16px / 1.5 serif;
  background-color: #e3d3b3;
  color: #480a24;
}

header .logo,
nav a,
h1,
h2,
h3,
th,
.ingredients-and-steps ol li::marker {
  font-family: 'Playfair Display', serif;
}

header .logo,
nav a span,
.ingredients-and-steps ol li::marker {
  font-weight: bold;
}

h2,
p {
  margin: 0;
}

h1 {
  text-align: center;
}

p {
  font-style: italic;
}

a {
  color: #480a24;
}

header,
nav {
  transition: transform 400ms ease-in-out;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0 1.5rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #480a24;
  box-shadow: 0 5px 10px #00000036;
}

header .logo {
  display: flex;
  gap: 0.4rem;
  padding: 0.2rem 0.5rem;
  font-size: 1.4rem;
  text-decoration: none;
  color: #dbf3f3;
}

header .logo:focus {
  outline-color: #dbf3f3;
  outline-offset: -2px;
}

header img {
  transition:
      transform
      200ms
      cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

header .logo:hover img {
  transform: rotate(38deg);
}

nav {
  position: sticky;
  top: 48px;
  z-index: 1;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
  list-style: none;
  box-shadow: 0 5px 10px #00000026;
}

nav li {
  flex: 1;
}

nav a {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: #80bfcb;
  border: 1px solid #1d424936;
}

nav a:focus {
  outline-color: #480a24;
  outline-offset: -6px;
}

nav a:hover {
  background-color: #1d4249;
  color: #e3d3b3;
}

nav a:active {
  background-color: #2c626d;
  color: #e3d3b3;
}

nav li:first-child a {
  justify-content: flex-start;
}

nav li:last-child a {
  justify-content: flex-end;
}

nav a span {
  transform: scale(1.25);
}

/* Interactive classes for header and nav */
.show-content {
  transform: translateY(0);
}

.hide-content {
  transform: translateY(-95px);
}

main {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 800px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  transition:
      border-left-color 150ms linear,
      border-right-color 150ms linear;
}

.description {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.description img {
  height: 350px;
  width: 100%;
  max-width: 350px;
  outline: 4px solid #1d4249;
  object-fit: cover;
}

.description p {
  max-width: 60ch;
}

.recipe-details {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  width: 100%;
  border-top: 1px solid #480a2463;
  border-bottom: 1px solid #480a2463;
}

.recipe-details table {
  width: 350px;
  border-collapse: collapse;
}

.recipe-details caption {
  margin-bottom: 1rem;
}

.recipe-details tbody {
  white-space: nowrap;
}

.recipe-details tr:not(:last-child) {
  border-bottom: 1px solid #480a2463;
}

.recipe-details th,
.recipe-details td {
  padding: 0.5rem;
}

.recipe-details th {
  text-align: left;
}

.ingredients-and-steps {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.ingredients-and-steps ul,
.ingredients-and-steps ol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}

.ingredients-and-steps ul {
  margin: 0;
  list-style: none;
}

.ingredients-and-steps ul input {
  position: relative;
  height: 18px;
  margin-right: 5px;
  width: 18px;
  vertical-align: text-top;
  background-color:  #480a24;
  border-radius: 3px;
  -webkit-appearance: none;
  appearance: none;
}

.ingredients-and-steps ul input:checked::before {
  content: '✔';
  position: absolute;
  font-family: sans-serif;
  color: #80bfcb;
  transform: translate(3px, 1px);
  -moz-transform: translate(2px, 0px);
}

.ingredients-and-steps ul input:hover {
  background-color: #5e0d2f;
}

.ingredients-and-steps ul input:focus {
  outline-color: #480a24;
  outline-offset: 2px;
}

.ingredients-and-steps ul input:active {
  background-color: #75103a;
}

.ingredients-and-steps ol {
  margin: 0 0 0 1rem;
}

.ingredients-and-steps ol li {
  padding-left: 5px;
}

footer {
  margin: 0 auto;
  padding: 1rem 1.5rem;
  max-width: 800px;
}

footer a:focus {
  outline-color: #480a24;
}

footer a:hover {
  text-decoration: none;
  background-color: #1d4249;
  color: #e3d3b3;
}

footer a:active {
  background-color: #2c626d;
  color: #e3d3b3;
}

@media only screen and (max-width: 315px) {
  .hide-content {
    transform: translateY(-133px);
  }
}

@media only screen and (min-width: 800px) {
  main {
    border-left: 1px solid #480a2463;
    border-right: 1px solid #480a2463;
  }
}